[submodule "bundle/bundle/command-t"]
	path = bundle/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
